/* ... (autres styles existants) ... */

:root {
    --first-color: white;
    --second-color: #DB812D;
    --third-color: #242424;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    padding-bottom: 20px;
}

nav ul li:nth-child(5) {
    margin-left: 50px;
}

nav a {
    color: white;
    text-decoration: none;
}

main section {
    height: 514px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main section:nth-child(1) {
    background-color: var(--first-color);
}

main section:nth-child(2) {
    background-color: var(--second-color);
}

main section:nth-child(3) {
    background-color: var(--third-color);
}

main section:nth-child(2) * {
    color: white;
}

main section:nth-child(3) {
    background-color: #242424;
}

main section:nth-child(3) h1 {
    margin-bottom: 20px;
    color: #DB812D;
}

main section:nth-child(3) ul {
    width: 33%;
}

main section:nth-child(3) ul li {
    color: white;
    margin-bottom: 10px;
}

main section h1 {
    font-size: 48px;
    font-weight: 400;
}

main section h2 {
    font-size: 24px;
    font-weight: 400;
}

/*HEADER*/

.fixeHeader {
    align-items: end;
    display: flex;
    position: fixed;
    justify-content: space-around;
    color: white;
    width: 100%;
    height: 250px;
    background-color: black;
    padding-bottom: 30px;
}

.Liste {
    position: relative;
    padding-top: 0;
}

.sous-liste {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-radius: 0 0 5px 5px;
}

.Liste:hover .sous-liste {
    display: block;
}

.item-sousListe {
    padding: 10px 20px;
    color: white;
}

.item-sousListe:hover {
    background-color: #333;
}

/*BTN*/

.btn {
    height: 100px;
    width: 100px;
    background-color: crimson;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.icone {
    font-size: 50px;
    color: white;
}